services:
  backend:
    build:
      target: deploy
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
